<%- include('../includes/head') %>
<%- include('../includes/header') %>

<section class="container shadow bg-light my-lg-4 mb-3 py-3 rounded" style="max-width: 380px; width: 100%">
    <div class="text-center text-dark my-5" id="page-wrapper">
        <h3 class="py-2">Reset Password</h3>
    </div>

    <form action="#" method="post" id="reset-password-form">

        <div class="form-group">
            <label for="mobile" class="form-label m-0">Enter Registered Mobile Number</label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text" id="mob-addon">+91</span></div>
                <input type="text" id="mobile" name="number" class="form-control" aria-describedby="mob-addon">
            </div>
        </div>

        <div class="d-flex justify-content-center my-3">
            <button class="btn shadow btn-info rounded-pill text-center px-5" type="submit">
                <strong>Send OTP</strong></button>
        </div>
    </form>

    <div class="d-none flex-column justify-content-center" id="otp-field">
            <input type="text" class="form-control" placeholder="one time password" id="confirm-otp">
            <span class="error ml-2 d-none" id="otp-error">invalid otp</span>
            <button class="btn btn-sm btn-success mt-2" type="button">verify</button>
    </div>
      

</section>

<%- include('../includes/foot') %>